<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div> <a href="/" class="navbar-brand">Jobs Portal</a></div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li> <a *ngIf="hardcodedAuthentication.isUserAuthenticated()" routerLink="/todos" class="nav-link">Home</a></li>
        <li> <a *ngIf="hardcodedAuthentication.isUserAuthenticated()" routerLink="/todos" class="nav-link">Todo</a></li>
        <li> <a *ngIf="hardcodedAuthentication.isUserAuthenticated()" routerLink="/jobslist" class="nav-link">Jobs</a></li>
        
      </ul>




      <ul class="navbar-nav navbar-collapse justify-content-end">
        
          <li> <a *ngIf="hardcodedAuthentication.isUserAuthenticated()" routerLink="/profile" class="nav-link">Profile</a></li>
          <li> <a *ngIf="!hardcodedAuthentication.isUserAuthenticated()" routerLink="/login" class="nav-link">Login</a> </li>
        <li> <a *ngIf="hardcodedAuthentication.isUserAuthenticated()" routerLink="/logout" class="nav-link">Logout</a>
</li>

      </ul>
    </div>
  </nav>

</header>