<div class="container" style="margin: 20px;">
    <div class="alert alert-success" *ngIf='msgDelete'>{{msgDelete}}</div>
    <h3>Goals : <fa-icon [icon]="faCoffee"></fa-icon>
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th (click)="refreshTodos3(page,todoResponse.totalItems,'id',todoResponse.sortDirection)"> id


                    <i class="fa fa-arrows-v"></i>


                </th>
                <th (click)="refreshTodos3(page,todoResponse.totalItems,'username',todoResponse.sortDirection)">username
                    <i class="fa fa-arrows-v"></i>
                </th>
                <th (click)="refreshTodos3(page,todoResponse.totalItems,'description',todoResponse.sortDirection)">
                    Description <i class="fa fa-arrows-v"></i></th>
                <th (click)="refreshTodos3(page,todoResponse.totalItems,'done',todoResponse.sortDirection)">Is
                    Completed? <i class="fa fa-arrows-v"></i></th>
                <th (click)="refreshTodos3(page,todoResponse.totalItems,'id',todoResponse.sortDirection)">Target Date
                    <i class="fa fa-arrows-v"></i> </th>
                <th (click)="refreshTodos3(page,todoResponse.totalItems,'targetDate',todoResponse.sortDirection)">Update
                </th>
                <th (click)="refreshTodos3(page,todoResponse.totalItems,'id',todoResponse.sortDirection)">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.id}}</td>
                <td>{{todo.username}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.done}}</td>
                <td>{{todo.targetDate | date | uppercase}}</td>
                <td> <button class="btn btn-success" (click)="updateTodo(todo.id)"> Update</button></td>
                <td> <button class="btn btn-warning" (click)="deleteTodo(todo.username,todo.id)"> Delete</button></td>
            </tr>

        </tbody>
    </table>

    <div class="row">
        <td> </td>

        <div class="col-md-6">

            <input type="number" ref-pagetogo
                (change)="refreshTodos3(this.pagetogo.value,todoResponse.recordPerPage,'username',todoResponse.sortDirection)">



            <button *ngIf='page>1' class="btn" (click)="refreshTodos2(page-1)">
                <<Back </button>

                    <button *ngIf='page<todoResponse.totalPages' class="btn"
                        (click)="refreshTodos2(page+1)">Next>></button>

                    <button (click)="refreshTodos3(1,todoResponse.totalItems,'id',todoResponse.sortDirection)"
                        class="btn btn-success">
                        Get All Records


                        <i *ngIf='todoResponse.sortDirection == "asc"' class="fa fa-angle-double-up"></i>
                        <i *ngIf='todoResponse.sortDirection == "desc"' class="fa fa-angle-double-down"></i>

                    </button>

        </div>



    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>

    Sort Field: {{todoResponse.sortField}} |
    Sort Order: <i *ngIf='todoResponse.sortDirection == "asc"' class="fa fa-angle-double-down">Desc</i>
    <i *ngIf='todoResponse.sortDirection == "desc"' class="fa fa-angle-double-up">Asc</i>|
    Total Records: {{todoResponse.totalItems}} |
    Total Pages: {{todoResponse.totalPages}} |
    Record Per Page: {{todoResponse.recordPerPage}}


    <div class="row">
        <td> <button class="btn btn-success" (click)="addTodo()"> Add Todo</button></td>
    </div>
</div>