#bodyjobslist{
    background-color: #eee
}


.card {
    border: none
}

.btn-outline-dark {
    border-radius: 35px;
    font-size: 10px;
    box-shadow: transparent;
}

.col-md-3 {
  margin-top: 5px;
}