
<div class="container">
    <div class="alert alert-warning" *ngIf ="todoForm.dirty && todoForm.invalid">
        Enter Valid Values
    </div>
 <form (ngSubmit)="!todoForm.invalid && onSave()" #todoForm="ngForm">
<fieldset class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="todo.description" class="form-control" name="description" required="required" >
   
</fieldset>

   <fieldset class="form-group">
    <label>Target Date</label>
    <input type="date" #targetDate="ngModel"  [ngModel]="todo.targetDate |date : 'yyyy-MM-dd'" 
    (ngModelChange)="todo.targetDate=$event" class="form-control" name="targetDate" required="required">

    <div class="alert alert-warning" *ngIf ="todoForm.dirty && todoForm.invalid && targetDate.invalid">
        Enter Valid Target Date
    </div>
   </fieldset>

  <!-- <button type="submit" class="btn btn-success" (click)="onSave()" >Save</button>-->

   <button type="submit" class="btn btn-success" >Save</button>
   <button type="reset" class="btn btn-warning" (click)="onCancel()" >Cancel</button>
</form>
</div>
